#Camera
on post-fs-data
    chmod 0660 /dev/S5K4E1GAAF
    chmod 0660 /dev/OV5648AF
    chmod 0660 /dev/GC5004AF
    chmod 0660 /dev/S5K4H5YCAF
    chmod 0660 /dev/S5K3H7YAF
    chown system camera /dev/S5K4E1GAAF
    chown system camera /dev/OV5648AF
    chown system camera /dev/GC5004AF
    chown system camera /dev/S5K4H5YCAF
    chown system camera /dev/S5K3H7YAF
#Init
service sysinit /system/bin/logwrapper /system/xbin/busybox run-parts /system/etc/init.d
    user root
    oneshot
